@using cosen.Models
@model CategoriesAndTags
<table class="table table-condensed">
    <tr class="success">
        <td colspan="2">商品分类</td>
    </tr>
    <tr>
        <td>
            <select class="form-control" id="parent_categories" data-bind="event:{change:function(data,event){selectCategory(data,event);}}">
                @foreach (var item in Model.ItemCategories)
                {
                    if (item.name == "母婴用品")
                    {
                        <option selected="selected" data-parent_cid="@item.parent_cid" value="@item.cid">@item.name</option>
                    }
                    else
                    {
                        <option data-parent_cid="@item.parent_cid" value="@item.cid">@item.name</option>
                    }

                }
            </select>
        </td>
        <td>
            <select data-bind="options:subCategories,optionsValue:'value',optionsText:'name',value:cid" class="form-control" id="sub_categories"></select>
            @*<select data-bind="value:cid" class="form-control" id="sub_categories">
                    <!--ko foreach:subCategories-->
                    <!--ko if:value==='3000004'-->
                    <option data-bind="value:value" selected="selected"><!--ko text:name--><!--/ko--></option>
                    <!--/ko-->
                    <!--ko if:value!=='3000004'-->
                    <option data-bind="value:value"><!--ko text:name--><!--/ko--></option>
                    <!--/ko-->
                    <!--/ko-->
                </select>*@
        </td>
    </tr>
    <tr class="success">
        <td colspan="2">商品推广</td>
    </tr>
    <tr>
        <td colspan="2">
            <select class="form-control" data-bind="value:promotion_cid">
                @foreach (var item in Model.ItemPromotionCategories)
                {
                    if (item.name == "儿童")
                    {
                        <option selected="selected" value="@item.id">@item.name</option>
                    }
                    else
                    {
                        <option value="@item.id">@item.name</option>
                    }

                }
            </select>
        </td>
    </tr>
    <tr class="success">
        <td colspan="2">商品标签</td>
    </tr>
    <tr>
        <td colspan="2">
            @foreach (var item in Model.ItemTags)
            {

                <div class="checkbox">
                    <label>
                        <input type="radio" name="tags" value="@item.id" data-bind="checked:tag_ids"> @item.name
                    </label>
                </div>

            }
        </td>
    </tr>
</table>
